<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns/article#" lang="en">
	<head>
	{% block head %}
		{% if metadata.csp %}
		<meta http-equiv="Content-Security-Policy" content="
			default-src 'none';
			base-uri blog.matthewrease.net;
			child-src 'none';
			connect-src blog.matthewrease.net;
			font-src 'self' fonts.gstatic.com;
			form-action blog.matthewrease.net;
			frame-src 'none';
			img-src 'self' cdn.matthewrease.net;
			media-src 'none';
			object-src 'none';
			script-src 'self' 'unsafe-inline' cdn.matthewrease.net;
			style-src 'self' 'unsafe-inline' www.w3schools.com/w3css/ fonts.googleapis.com
		" />
		{% endif %}
		<meta charset="utf-8" />
		<base href="/{{ metadata.base }}" />
		<link rel="canonical" href="https://blog.matthewrease.net/{{ metadata.canonical }}" />

		<!-- Traditional Metadata -->
		<title>Compressed Thoughts</title>
		<meta name="title" content="{% block title %}Compressed Thoughts{% endblock %}" />
		<meta name="description" content="{% block description %}Welcome to the thoughts of 1/7,762,000,000 of the world.{% endblock %}" />
		<meta name="keywords" content="matthew, rease, old, forge, inn, tofi, compressed, thoughts, blog, post, tech, technology, personal, life, blogging{% block keywords %}{% endblock %}" />
		<meta name="revisit-after" content="{% block revisit %}8 Hours{% endblock %}" />
		<meta name="author" content="{% block author %}Matthew Rease{% endblock %}" />
		<meta name="designer" content="Matthew Rease" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="copyright" content="Copyright &copy; {{ 2025 }} Matthew Rease" />
		<meta name="language" content="English" />

		{% block bots %}
		<!-- Scrapers, Bots, Etc. -->
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="bingbot" content="index, follow" />
		{% endblock %}

		<!-- Resources -->
		<link rel="shortcut icon" type="image/x-icon" href="/static/icon.webp" />
		<link rel="preload" as="style" href="https://www.w3schools.com/w3css/4/w3.css" onload="this.onload=null;this.rel='stylesheet'" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="preload" as="style" href="/static/blog.css" onload="this.onload=null;this.rel='stylesheet'" />
		<link rel="stylesheet" href="/static/blog.css" />
		<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Raleway" onload="this.onload=null;this.rel='stylesheet'" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />

		<link re="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="/static/nerdfont.css" />
		<link rel="stylesheet" href="/static/nerdfont.css" />

		{% block embed %}{% endblock %}

		{% block json %}{% endblock %}
	{% endblock %}
	</head>
	<body class="w3-dark-grey">
		<div class="w3-content" style="max-width: 1400px">
			<header class="w3-container w3-center w3-padding-32">
				<h1><strong>Compressed Thoughts</strong></h1>
				<p>A blog by <span class="w3-tag">Matthew Rease</span></p>
			</header>
			<div class="w3-row">
				{% block body %}{% endblock %}

				<aside>
					<div class="w3-col l4" id="sidebar">
						<div class="w3-card w3-margin w3-margin-top" id="about">
							<img src="https://cdn.matthewrease.net/images/me_young.jp2" alt="My Mom holding my arm, while I (a child) am trying to pet a bear cub at the zoo." style="width:100%">
							<div class="w3-container w3-white">
								<h2><strong>Matthew Rease</strong></h2>
								<p>Bedroom programmer, all-day nerd. I've been programming since I was in middle school, and I've always liked to entertain people, so I hope that will come across in my posts. If you want to learn more about me, see <a href="https://matthewrease.net/about/"><strong>my profile</strong></a>.</p>
							</div>
						</div>
						<hr>

						<nav>
							<div class="w3-card w3-margin" id="popular">
								<div class="w3-container w3-padding"><h2>Popular Posts</h2></div>
								<ul class="w3-ul w3-hoverable w3-white">
								{% for post in metadata.popular %}
									<li class="w3-button" style="display:block!important;white-space:normal!important;text-align:left!important">
										<article>
											<a href="/post/{{ post.id }}" style="text-decoration:none" aria-labelledby="{{ post.id }}-title">
												<span class="w3-padding-16" style="display:block">
													<img src="{{ post.image }}" alt="{{ post.image_alt }}" class="w3-left w3-margin-right" style="width: 50px" />
													<span class="w3-large" id="{{ post.id }}-title">{{ post.title }}</span>
													<br />
													<span tabindex="-1">{{ post.description | safe }}</span>
												</span>
											</a>
										</article>
									</li>
								{% endfor %}
								</ul>
							</div>
							<hr>

							<div class="w3-card w3-margin" id="archive">
								<div class="w3-container w3-padding"><h2>Archive</h2></div>
								<ul class="w3-ul w3-hoverable w3-white">
								{% for year in metadata.archive %}
									<li class="w3-padding-16 w3-button w3-block w3-white w3-left-align" onclick="archive('{{ year }}')" onkeydown="key_archive(event, '{{ year }}')" tabindex="0" role="button" aria-expanded="false" id="button-{{ year }}"><span class="w3-large">{{ year }}</span></li>
									<li class="w3-hide w3-white" id="{{ year }}">
										<ul class="w3-ul w3-hoverable w3-white">
										{% for month in metadata.archive[year] | reverse %}
											<li class="w3-button w3-block w3-white w3-left-align" onclick="archive('{{ year }}{{ month }}')" onkeydown="key_archive(event, '{{ year }}{{ month }}')" tabindex="0" role="button" aria-expanded="false" id="button-{{ year }}{{ month }}"><span class="w3-large">{{ metadata.month_names[month] }}</span></li>
											<ul class="w3-ul w3-hoverable w3-white w3-hide" id="{{ year }}{{ month }}">
											{% for short_id in metadata.archive[year][month] %}
												<article>
													<a href="/post/{{ year }}{{ month }}{{ short_id }}" style="text-decoration:none" aria-labelledby="archive-{{ year }}{{ month }}{{ short_id }}-title">
														<li class="w3-padding-16 w3-button" style="display:block!important;white-space:normal!important;text-align:left!important">
															<img data-src="/static/images/{{ year }}{{ month }}{{ short_id }}.webp" alt="{{ metadata.archive[year][month][short_id]['alt'] }}" class="lazyload w3-left w3-margin-right" style="width:50px" />
															<span class="w3-large" id="archive-{{ year }}{{ month }}{{ short_id }}-title">{{ metadata.archive[year][month][short_id]['title'] }}</span>
															<br />
															<span tabindex="-1">{{ metadata.archive[year][month][short_id]['description'] | safe }}</span>
														</li>
													</a>
												</article>
											{% endfor %}
											</ul>
										{% endfor %}
										</ul>
									</li>
								{% endfor %}
								</ul>
								<script>
									function archive(e) {
										var a = document.getElementById(e);
										var b = document.getElementById("button-" + e);
										if (a.className.indexOf("w3-show") == -1) {
											a.className += " w3-show";
											b.ariaExpanded = "true";
										}
										else {
											a.className = a.className.replace(" w3-show", "");
											b.ariaExpanded = "false";
										}
									}
									function key_archive(e, i) {
										if (e.key === 'Enter') {
											archive(i)
										}
									}
								</script>
							</div>
							<hr>

							<div class="w3-card w3-margin" id="tags">
								<div class="w3-container w3-padding">
									<h2>Tags</h2>
								</div>
								<div class="w3-container w3-white">
								{% for tag in metadata.tags %}
									<a class="w3-button w3-tag {% if metadata.filter == tag %}w3-black{% else %}w3-dark-grey{% endif %} w3-margin-top w3-margin-bottom" href="/{% if tag != '' %}filter/{{ tag }}{% endif %}" aria-selected="{% if tag == metadata.filter %}true{% else %}false{% endif %}" aria-label="{% if tag == '' %}Remove filter and show All Posts{% else %}set filter to {{ tag }}{% endif %}">{% if tag == '' %}All Posts{% else %}{{ tag.title() }}{% endif %}</a>
								{% endfor %}
									<br />
									<input id="search" type="text" class="w3-input w3-border w3-light-gray" placeholder="Search your own tag" onkeypress="if (window.event.keyCode == '13') search()" />
									<script>function search(){var b=document.createElement('a');b.href='/filter/'+document.getElementById('search').value;b.click();}</script>
									<br />
								</div>
							</div>
							<!--<hr >-->

							<!--<div class="w3-card w3-margin w3-hide" id="ads">
								<div class="w3-container w3-padding">
									<h2>$upport ;)</h2>
								</div>
								<div class="w3-container w3-white w3-button w3-cell-row">
									<div class="w3-cell">
										<span class="w3-panel"><a href="http://onemboaran.com/afu.php?zoneid=3073204">Ad</a></span>
									</div>
								</div>
							</div>-->
						</nav>
					</div>
				</aside>
			</div>
			<br />
		</div>

		<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
			<a href="https://matthewrease.net/" class="w3-button w3-deep-orange w3-padding-large w3-margin-bottom w3-text-black">Return to the Inn</a>
			<p>Site content copyright &copy; Matthew Rease 2025, articles licensed under CC BY-NC-SA 4.0 unless otherwise stated</p>
			<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" rel="noopener">w3.css</a></p>
		</footer>

		<script src="https://cdn.matthewrease.net/scripts/lazysizes.min.js" async></script>
	</body>
</html>
