{% extends "base.html" %}
{% block body %}
{{ super() }}
<div class="w3-col l8 s12" id="posts">
	<main>
	{% for post in metadata.posts %}
		<article id="post{{ post.id }}">
			<div class="w3-card-4 w3-margin w3-white">
				<img data-src="{{ post.image }}" alt="{{ post.image_alt }}" class="lazyload" style="width: 100%" />
				<div class="w3-container">
					<h3><strong>{{ post.title }}</strong>{% if post.author != 'Matthew Rease' %}<span class="w3-medium">, by {{ post.author }}</span>{% endif %}</h3>
					<h5>{{ post.description | safe }}, <span class="w3-opacity">{{ post.datestr }}</span></h5>
				</div>

				<div class="w3-container">
					{{ post.preview | safe }}
					<div class="w3-row">
						<div class="w3-col m8 s12">
							<p><a href="/post/{{ post.id }}" class="w3-button w3-padding-large w3-white w3-border"><strong>READ MORE <i class="fas fa-file-alt w3-xlarge"></i></strong></a></p>
						</div>
						<div class="w3-col m4 w3-hide-small">
							<p><span class="w3-padding-large w3-right"><strong>Comments   </strong> <span class="fa-stack"><i class="fas fa-stack-2x fa-comment-alt"></i><span class="fa-stack-1x disqus-comment-count" data-disqus-url="https://blog.matthewrease.net/post/{{ post.id }}" data-disqus-identifier="post-{{ post.id }}" style="color:white;top:-3px">#</span></span></span></p>
						</div>
					</div>
				</div>
			</div>
		</article>
	{% else %}
	{% if metadata.filter != '' %}
		<article id="badArgs">
			<div class="w3-card-4 w3-margin w3-white">
				<img src="https://cdn.matthewrease.net/blog/badArgs.webp" alt="empty filing cabinet" class="w3-image" style="width:100%" />
				<div class="w3-container">
					<h3><strong>Bad Filter/Page</strong></h3>
					<h5>The requested filter or page came up empty, please try something else.</h5>
				</div>
				<div class="w3-container">
					<p>Either the page you requested doesn't exist (not enough posts), or the filter you provided came up empty. (Or both!)</p>
				</div>
			</div>
		</article>
	{% else %}
		<article id="noposts">
			<div class="w3-card-4 w3-margin w3-white">
				<img src="https://cdn.matthewrease.net/blog/noposts.webp" alt="tumbleweed in the wilderness" class="w3-image" style="width:100%" />
				<div class="w3-container">
					<h3><strong>Oh...</strong></h3>
					<h5>There doesn't appear to be anything here.</h5>
				</div>
				<div class="w3-container">
					<p>Most likely, I haven't made any posts between now, and the start of the previous month. To see older posts, please check the archive in the sidebar (below this message on small screens). Unfortunately I can get pretty busy at times, or run out of ideas - after all, I'm not some company with several writers!</p>
				</div>
				This snippet likely cannot appear ever again...
			</div>
		</article>
	{% endif %}
	{% endfor %}
		<hr>
		<script type="application/ld+json">
			{
				"@context": "http://schema.org/",
				"@type": "Blog",
				"encodingFormat": [
					"text/html",
					"text/css",
					"text/javascript",
					"image/webp"
				],
				"inLanguage": "en-us",
				"license": "https://creativecommons.org/licenses/by/4.0/",
				"creator": {
					"@type": "Person",
					"name": "Matthew Rease"
				},
				"headline": "Compressed Thoughts",
				"keywords": "matthew, rease, old, forge, inn, tofi",
				"mainEntityOfPage": "https://blog.matthewrease.net/",
				"publisher": {
					"@type": "Organization",
					"name": "Compressed Thoughts",
					"logo": {
						"@type": "ImageObject",
						"encodingFormat": "image/webp",
						"url": "https://blog.matthewrease.net/icon.webp",
						"width": "548",
						"height": "548"
					}
				},
				"mainEntity": {
					"@type": "ItemList",
					"itemListElement": [
					{% for post in metadata.posts %}
						{
							"@type": "BlogPosting",
							"mainEntityOfPage": "https://blog.matthewrease.net/post/{{ post.id }}",
							"headline": "{{ post.title }}",
							"description": "{{ post.description | striptags | replace('"', '&#34;') }}",
							"articleBody": "{{ post.preview | striptags | replace('"', '&#34;') }}",
							"author": {
								"@type": "Person",
								"name": "{{ post.author }}"
							},
							"image": {
								"@type": "ImageObject",
								"encodingFormat": "image/webp",
								"url": "{{ post.image }}"
							},
							"datePublished": "{{ post.published.date }}T{{ post.published.time }}-08:00",
							"dateModified": "{{ post.modified.date }}T{{ post.modified.time }}-08:00",
							"publisher": {
								"@type": "Organization",
								"name": "Compressed Thoughts",
								"logo": {
									"@type": "ImageObject",
									"encodingFormat": "image/webp",
									"url": "https://blog.matthewrease.net/icon.webp",
									"width": "548",
									"height": "548"
								}
							}
						}{% if not loop.last %},{% endif %}
					{% endfor %}
		</script>
	</main>
</div>
{% endblock %}
