{% extends "base.html" %}

{% block embed %}
	<!-- Required OpenGraph Tags -->
	<meta property="og:title" content="Compressed Thoughts" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="https://blog.matthewrease.net/static/icon.webp" />
	<meta property="og:image:type" content="image/webp" />
	<meta property="og:image:width" content="548" />
	<meta property="og:image:height" content="548" />
	<meta property="og:image:alt" content="Silhouette of a human head between a vise clamp." />
	<meta property="og:url" content="https://blog.matthewrease.net/{{ metadata.canonical }}" />

	<!-- Optional OpenGraph Tags -->
	<meta property="og:description" content="{% if 'description' in metadata %}{{ metadata.description | striptags }}{% else %}Welcome to the thoughts of 1/7,762,000,000 of the world.{% endif %}" />
	<meta property="og:site_name" content="Compressed Thoughts" />
{% endblock %}

{% if metadata.filter != '' and metadata.last != 0 %}
{% block pagination %}
<form action="/" method="GET" style="display: inline">
	<input type="hidden" name="filter" value="{{ metadata.filter }}" />
	<a class="w3-button w3-black w3-padding-large w3-margin-bottom{% if metadata.page == 0 %} w3-disabled{% else %}" href="{% if metadata.filter != '' %}filter/{{ metadata.filter }}/{% endif %}page/{{ metadata.page - 1 }}{% endif %}">Previous <i class="fas fa-angle-double-left"></i></a>
	<a class="w3-button w3-black w3-padding-large w3-margin-bottom{% if metadata.page == metadata.last %} w3-disabled{% else %}" href="{% if metadata.filter != '' %}filter/{{ metadata.filter }}/{% endif %}page/{{ metadata.page + 1 }}{% endif %}">Next <i class="fas fa-angle-double-right"></i></a>
</form>
{% endblock %}
{% endif %}

{% block body %}
{{ super() }}
<div class="w3-col l8 s12" id="posts">
	<main>
	{% for post in metadata.posts %}
		<article id="post{{ post.id }}">
			<div class="w3-card-4 w3-margin w3-white">
				<img src="{{ post.image }}" alt="{{ post.image_alt }}" style="width: 100%" />
				<div class="w3-container">
					<hgroup>
						<h3><strong>{{ post.title }}</strong>{% if post.author != 'Matthew Rease' %}<span class="w3-medium">, by {{ post.author }}</span>{% endif %}</h3>
						<p>{{ post.description | safe }}, <time datetime="{{ post.published }}" class="w3-opacity">{{ post.datestr }}</time></p>
					</hgroup>
				</div>

				<div class="w3-container">
					{{ post.preview | safe }}
					<div class="w3-row">
						<div class="w3-col m8 s12">
							<p><a href="/post/{{ post.id }}" class="w3-button w3-padding-large w3-white w3-border"><strong>READ MORE <i class="fas fa-file-alt w3-xlarge"></i></strong></a></p>
						</div>
						<!--<div class="w3-col m4 w3-hide-small">
							<p><span class="w3-padding-large w3-right"><strong>Comments   </strong> <span class="fa-stack"><i class="fas fa-stack-2x fa-comment-alt"></i>#</span></span></p>
						</div>-->
					</div>
				</div>
			</div>
		</article>
	{% else %}
	{% if metadata.filter != '' or metadata.page > metadata.last %}
		<article id="badArgs">
			<div class="w3-card-4 w3-margin w3-white">
				<img src="/static/badArgs.webp" alt="empty filing cabinet" class="w3-image" style="width:100%" />
				<div class="w3-container">
					<h3><strong>Bad Filter/Page</strong></h3>
					<h5>The requested filter or page came up empty, please try something else.</h5>
				</div>
				<div class="w3-container">
					<p>Either the page you requested doesn't exist (not enough posts), or the filter you provided came up empty. (Or both!)</p>
				</div>
			</div>
		</article>
	{% else %}
		<article id="noposts">
			<div class="w3-card-4 w3-margin w3-white">
				<img src="/static/noposts.webp" alt="tumbleweed in the wilderness" class="w3-image" style="width:100%" />
				<div class="w3-container">
					<h3><strong>Oh...</strong></h3>
					<h5>There doesn't appear to be anything here.</h5>
				</div>
				<div class="w3-container">
					<p>There don't seem to be any posts on this blog - perhaps the database got deleted?</p>
				</div>
			</div>
		</article>
	{% endif %}
	{% endfor %}
		<hr>
		<script type="application/ld+json">
			{
				"@context": "http://schema.org/",
				"@type": "Blog",
				"encodingFormat": [
					"text/html",
					"text/css",
					"text/javascript",
					"image/webp"
				],
				"inLanguage": "en-us",
				"license": "https://creativecommons.org/licenses/by-nc-sa/4.0/",
				"creator": {
					"@type": "Person",
					"name": "Matthew Rease"
				},
				"headline": "Compressed Thoughts",
				"keywords": "matthew, rease, old, forge, inn, tofi",
				"mainEntityOfPage": "https://blog.matthewrease.net/",
				"publisher": {
					"@type": "Organization",
					"name": "Compressed Thoughts",
					"logo": {
						"@type": "ImageObject",
						"encodingFormat": "image/webp",
						"url": "https://blog.matthewrease.net/static/icon.webp",
						"width": "548",
						"height": "548"
					}
				},
				"mainEntity": {
					"@type": "ItemList",
					"itemListElement": [
					{% for post in metadata.posts %}
						{
							"@type": "BlogPosting",
							"mainEntityOfPage": "https://blog.matthewrease.net/post/{{ post.id }}",
							"headline": "{{ post.title | replace('"', '\\"') | safe }}",
							"description": "{{ post.description | striptags | replace('"', '\\"') | safe }}",
							"articleBody": "{{ post.preview | striptags | replace('"', '\\"') | safe }}",
							"author": {
								"@type": "Person",
								"name": "{{ post.author }}"
							},
							"image": {
								"@type": "ImageObject",
								"encodingFormat": "image/webp",
								"url": "{{ post.image }}"
							},
							"datePublished": "{{ post.published }}",
							"dateModified": "{{ post.modified }}",
							"publisher": {
								"@type": "Organization",
								"name": "Compressed Thoughts",
								"logo": {
									"@type": "ImageObject",
									"encodingFormat": "image/webp",
									"url": "https://blog.matthewrease.net/static/icon.webp",
									"width": "548",
									"height": "548"
								}
							}
						}{% if not loop.last %},{% endif %}
					{% endfor %}
		</script>
	</main>
</div>
{% endblock %}
