{% extends "base.html" %}

{% block title %}{{ metadata.title }}{% endblock %}
{% block description %}{{ metadata.description }}{% endblock %}
{% block keywords %}, {{ ', '.join(metadata.tags) }}{% endblock %}
{% block revisit %}1 Day{% endblock %}
{% block author %}{{ metadata.author }}{% endblock %}
{% block embed %}
	<!-- Required OpenGraph Tags -->
	<meta property="og:title" content="{{ metadata.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="https://blog.matthewrease.net{{ metadata.image.url }}" />
	<meta property="og:image:type" content="image/webp" />
	<meta property="og:image:width" content="{{ metadata.image.width }}" />
	<meta property="og:image:height" content="{{ metadata.image.height }}" />
	<meta property="og:image:alt" content="{{ metadata.image.alt }}" />
	<meta property="og:url" content="https://blog.matthewrease.net/{{ metadata.canonical }}" />

	<!-- Optional OpenGraph Tags -->
	<meta property="og:description" content="{{ metadata.description | striptags }}" />
	<meta property="og:site_name" content="Compressed Thoughts" />

	<!-- Specialized OpenGraph Tags -->
	<meta property="og:article:published_time" content="{{ metadata.published.date }}T{{ metadata.published.time }}-08:00" />
	<meta property="og:article:modified_time" content="{{ metadata.modified.date }}T{{ metadata.modified.time }}-08:00" />
	<meta property="og:article:author" content="{{ metadata.author }}" />
	<meta property="og:article:tag" content="{{ ','.join(metadata.tags) }}" />

	<!-- Twitter Embed Tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:url" content="https://blog.matthewrease.net/{{ metadata.canonical }}" />
	<meta name="twitter:title" content="{{ metadata.title }}" />
	<meta name="twitter:description" content="{{ metadata.description | striptags }}" />
	<meta name="twitter:image" content="https://blog.matthewrease.net{{ metadata.image.url }}" />
{% endblock %}
{% block head %}
	{{ super() }}

	<!-- JSON LD -->
	<script type="application/ld+json">
	{
		"@context": "http://schema.org/",
		"@type": "BlogPosting",
		"encodingFormat": [
			"text/html",
			"text/css",
			"text/javascript",
			"image/webp"
		],
		"inLanguage": "en-us",
		"license": "https://creativecommons.org/licenses/by-nc-sa/4.0/",
		"publisher": {
			"@type": "Organization",
			"name": "Compressed Thoughts",
			"logo": {
				"@type": "ImageObject",
				"encodingFormat": "image/webp",
				"url": "https://blog.matthewrease.net/static/icon.webp",
				"width": "548",
				"height": "548"
			}
		},
		"mainEntityOfPage": "https://blog.matthewrease.net/{{ metadata.canonical }}",
		"keywords": "{{ ', '.join(metadata.tags) }}",
		"image": {
        "@type": "ImageObject",
        "url": "{{ metadata.image.url }}",
				"width": {{ metadata.image.url.width }},
				"height": {{ metadata.image.url.height }}
    },
		"headline": "{{ metadata.title | replace('"', '\\"') | safe }}",
		"author": {
			"@type": "Person",
			"name": "{{ metadata.author }}"
		},
		"description": "{{ metadata.description | striptags | replace('"', '\\"') | safe }}",
		"articleBody": "{{ metadata.preview | striptags | replace('"', '\\"') | safe }}",
		"datePublished": "{{ metadata.published.date }}T{{ metadata.published.time }}-08:00",
		"dateModified": "{{ metadata.modified.date }}T{{ metadata.modified.time }}-08:00"
	}
	</script>
{% endblock %}

{% block body %}
	{{ super() }}
	<div class="w3-col l8 s12">
		<main id="blogPost">
			<div class="w3-card-4 w3-margin w3-white">
				<article>
					<img id="postImage" src="{{ metadata.image.url }}" alt="{{ metadata.image.alt }}" style="width:100%" />
					<div class="w3-container">
						<h2><span><strong id="postTitle">{{ metadata.title }}</strong></span>{% if metadata.author != 'Matthew Rease' %}<span class="w3-medium">, by <a href="/author/NOTIMPLEMENTED">{{ metadata.author }}</a></span>{% endif %}</h2>
						<!--<div class="w3-container">-->
							<p id="postDescription">{{ metadata.description | safe }}</p>
						<!--</div>-->
					</div>

					<div class="w3-container">
						{{ metadata.preview | safe }}
						<br />
						{{ metadata.content | safe }}
						{% if metadata.author != 'Matthew Rease' %}
						<br />
						<p>This post was contributed by another author, and its views may not entirely reflect those of mine. For more information click the authors name at the top of the page.</p>
						{% endif %}
					</div>
				</article>
			</div>

			<div class="w3-container w3-padding-32 w3-margin-top">
				<a href="/" style="display:inline" class="w3-button w3-deep-purple w3-padding-large">Return <i class="fas fas-reply"></i></a>
			</div>
		</main>
	</div>
{% endblock %}
